<launch>
<!--my first launch file-->
<node pkg="my_first_package" type="simple_node_one.py" name="node_one" output="screen">
</node>

<node pkg="my_first_package" type="simple_node_loop.py" name="loop_node" output="screen">
</node>

<node pkg="my_first_package" type="simple_loop_three.py" name="loop_node_three" output="screen">
</node>

</launch>